/* engfont */
/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* thaifont */
/* @import url('https://fonts.googleapis.com/css?family=Kanit:300,400,400i,500,600&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Prompt:300,400,400i,500,600&display=swap'); */
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary: #0081b4;
    --secondary: #00ccff;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --black: #000000;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}
body{
    font-family: 'Roboto', sans-serif;
}
article, aside, figcaption, figure
footer, header, hgroup, main, nav, section {
    display: block;
}
table{
    display: block;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
}
th, td{
    border: 1px solid black;
    text-align: inherit;
    padding: 15px;
}
label{
    display: inline-block;
    margin-bottom: 0.5rem;
}
fieldset{
    min-width: 0;
    border: 0;
}
legend{
    display: block;
    width: 100%;
    max-width: 100%;
    white-space: normal;
}
button,
[type="button"],
[type="reset"],
[type="submit"]{
    cursor: pointer;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
svg{
    overflow: hidden;
    vertical-align: middle;
}
img{
    vertical-align: middle;
    border-style: none;
}
.noSelect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.float-l{
    float: left;
}
.float-r{
    float: right;
}
.clear{
    content: "";
    display: block;
    clear: both;
}
.bg-light{
    color: rgb(26, 26, 26);
}
.bg-dark{
    color: white;
}
.posRe{
    position: relative;
}
.posAb{
    position: absolute;
}
.d-none{
    display: none;
}
.d-block{
    display: block;
}
.d-inline{
    display: inline;
}
.d-inline-block{
    display: inline-block;
}
.d-table{
    display: table;
}
.d-table-row{
    display: table-row;
}
.d-table-cell{
    display: table-cell;
}
.d-flex{
    display: flex;
}
.d-inline-flex{
    display: inline-flex;
}
.container-grid{
    display: grid;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.no-gutters{
    margin-right: 0;
    margin-left: 0;
}
.no-gutters>.col,
.no-gutters>[class*="col-"]{
    padding-right: 0;
    padding-left: 0;
}
.col, .col-auto, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col-sm, .col-sm-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md, .col-md-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg, .col-lg-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-xl, .col-xl-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12{
    position: relative;
    width: 100%;
    padding: 0 15px;
}
.col{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.row-cols-1>*{
    flex: 0 0 100%;
    max-width: 100%;
}
.row-cols-2>*{
    flex: 0 0 50%;
    max-width: 50%;
}
.row-cols-3>*{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.row-cols-4>*{
    flex: 0 0 25%;
    max-width: 25%;
}
.row-cols-5>*{
    flex: 0 0 20%;
    max-width: 20%;
}
.row-cols-6>*{
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-auto{
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}
.col-1{
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}
.col-2{
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-3{
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-5{
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.col-6{
    flex: 0 0 50%;
    max-width: 50%;
}
.col-7{
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.col-8{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col-9{
    flex: 0 0 75%;
    max-width: 75%;
}
.col-10{
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
.col-11{
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}
.col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
.order-first{
    order: -1;
}
.order-last{
    order: 13;
}
.order-0{
    order: 0;
}
.order-1{
    order: 1;
}
.order-2{
    order: 2;
}
.order-3{
    order: 3;
}
.order-4{
    order: 4;
}
.order-5{
    order: 5;
}
.order-6{
    order: 6;
}
.order-7{
    order: 7;
}
.order-8{
    order: 8;
}
.order-9{
    order: 9;
}
.order-10{
    order: 10;
}
.order-11{
    order: 11;
}
.order-12{
    order: 12;
}
.offset-0{
    margin-left: 0%;
}
.offset-1{
    margin-left: 8.333333%;
}
.offset-2{
    margin-left: 16.666667%;
}
.offset-3{
    margin-left: 25%;
}
.offset-4{
    margin-left: 33.333333%;
}
.offset-5{
    margin-left: 41.666667%;
}
.offset-6{
    margin-left: 50%;
}
.offset-7{
    margin-left: 58.333333%;
}
.offset-8{
    margin-left: 66.666667%;
}
.offset-9{
    margin-left: 75%;
}
.offset-10{
    margin-left: 83.333333%;
}
.offset-11{
    margin-left: 91.666667%;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content: flex-end;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-start{
    align-items: flex-start;
}
.align-items-end{
    align-items: flex-end;
}
.align-items-center{
    align-items: center;
}
.align-items-baseline{
    align-items: baseline;
}
.align-items-stretch{
    align-items: stretch;
}
.align-content-start{
    align-content: flex-start;
}
.align-content-end{
    align-content: flex-end;
}
.align-content-center{
    align-content: center;
}
.align-content-around{
    align-content: space-around;
}
.align-content-between{
    align-content: space-between;
}
.align-content-stretch{
    align-content: stretch;
}
.align-self-auto{
    align-self: auto;
}
.align-self-start{
    align-self: flex-start;
}
.align-self-end{
    align-self: flex-end;
}
.align-self-center{
    align-self: center;
}
.align-self-baseline{
    align-self: baseline;
}
.align-self-stretch{
    align-self: stretch;
}
.h-100{
    height: 100%;
}
.mxh-100{
    max-height: 100%;
}
.mnh-100{
    min-height: 100%;
}
.mxh-vh-100{
    max-height: 100vh;
}
.mnh-vh-100{
    min-height: 100vh;
}
.w-100{
    width: 100%;
}
.mxw-100{
    max-width: 100%;
}
.mnw-100{
    min-width: 100%;
}
.mxw-vh-100{
    max-width: 100vh;
}
.mnw-vh-100{
    min-width: 100vh;
}
.p-0{
    padding: 0;
}
.p-5{
    padding: 5;
}
.p-10{
    padding: 10;
}
.p-15{
    padding: 15;
}
.p-20{
    padding: 20;
}
.pt-0{
    padding-top: 0;
}
.pt-5{
    padding-top: 5;
}
.pt-10{
    padding-top: 10;
}
.pt-15{
    padding-top: 15;
}
.pt-20{
    padding-top: 20;
}
.pr-0{
    padding-right: 0;
}
.pr-5{
    padding-right: 5;
}
.pr-10{
    padding-right: 10;
}
.pr-15{
    padding-right: 15;
}
.pr-20{
    padding-right: 20;
}
.pb-0{
    padding-bottom: 0;
}
.pb-5{
    padding-bottom: 5;
}
.pb-10{
    padding-bottom: 10;
}
.pb-15{
    padding-bottom: 15;
}
.pb-20{
    padding-bottom: 20;
}
.pl-0{
    padding-left: 0;
}
.pl-5{
    padding-left: 5;
}
.pl-10{
    padding-left: 10;
}
.pl-15{
    padding-left: 15;
}
.pl-20{
    padding-left: 20;
}
.py-0{
    padding-top: 0;
    padding-bottom: 0;
}
.py-5{
    padding-top: 5;
    padding-bottom: 5;
}
.py-10{
    padding-top: 10;
    padding-bottom: 10;
}
.py-15{
    padding-top: 15;
    padding-bottom: 15;
}
.py-20{
    padding-top: 20;
    padding-bottom: 20;
}
.px-0{
    padding-left: 0;
    padding-right: 0;
}
.px-5{
    padding-left: 5;
    padding-right: 5;
}
.px-10{
    padding-left: 10;
    padding-right: 10;
}
.px-15{
    padding-left: 15;
    padding-right: 15;
}
.px-20{
    padding-left: 20;
    padding-right: 20;
}
.m-0{
    margin: 0;
}
.m-5{
    margin: 5;
}
.m-10{
    margin: 10;
}
.m-15{
    margin: 15;
}
.m-20{
    margin: 20;
}
.mt-0{
    margin-top: 0;
}
.mt-5{
    margin-top: 5;
}
.mt-10{
    margin-top: 10;
}
.mt-15{
    margin-top: 15;
}
.mt-20{
    margin-top: 20;
}
.mr-0{
    margin-right: 0;
}
.mr-5{
    margin-right: 5;
}
.mr-10{
    margin-right: 10;
}
.mr-15{
    margin-right: 15;
}
.mr-20{
    margin-right: 20;
}
.mb-0{
    margin-bottom: 0;
}
.mb-5{
    margin-bottom: 5;
}
.mb-10{
    margin-bottom: 10;
}
.mb-15{
    margin-bottom: 15;
}
.mb-20{
    margin-bottom: 20;
}
.ml-0{
    margin-left: 0;
}
.ml-5{
    margin-left: 5;
}
.ml-10{
    margin-left: 10;
}
.ml-15{
    margin-left: 15;
}
.ml-20{
    margin-left: 20;
}
.my-0{
    margin-top: 0;
    margin-bottom: 0;
}
.my-5{
    margin-top: 5;
    margin-bottom: 5;
}
.my-10{
    margin-top: 10;
    margin-bottom: 10;
}
.my-15{
    margin-top: 15;
    margin-bottom: 15;
}
.my-20{
    margin-top: 20;
    margin-bottom: 20;
}
.mx-0{
    margin-left: 0;
    margin-right: 0;
}
.mx-5{
    margin-left: 5;
    margin-right: 5;
}
.mx-10{
    margin-left: 10;
    margin-right: 10;
}
.mx-15{
    margin-left: 15;
    margin-right: 15;
}
.mx-20{
    margin-left: 20;
    margin-right: 20;
}
@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
    .d-sm-none{
        display: none;
    }
    .d-sm-block{
        display: block;
    }
    .d-sm-inline{
        display: inline;
    }
    .d-sm-inline-block{
        display: inline-block;
    }
    .d-sm-table{
        display: table;
    }
    .d-sm-table-row{
        display: table-row;
    }
    .d-sm-table-cell{
        display: table-cell;
    }
    .d-sm-flex{
        display: flex;
    }
    .d-sm-inline-flex{
        display: inline-flex;
    }
    .col-sm{
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    .row-cols-sm-1>*{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .row-cols-sm-2>*{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .row-cols-sm-3>*{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .row-cols-sm-4>*{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .row-cols-sm-5>*{
        flex: 0 0 20%;
        max-width: 20%;
    }
    .row-cols-sm-6>*{
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-sm-auto{
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
    .col-sm-1{
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-sm-2{
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-sm-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-sm-5{
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-sm-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7{
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-sm-8{
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-sm-9{
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-10{
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-sm-11{
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-sm-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-sm-first{
        order: -1;
    }
    .order-sm-last{
        order: 13;
    }
    .order-sm-0{
        order: 0;
    }
    .order-sm-1{
        order: 1;
    }
    .order-sm-2{
        order: 2;
    }
    .order-sm-3{
        order: 3;
    }
    .order-sm-4{
        order: 4;
    }
    .order-sm-5{
        order: 5;
    }
    .order-sm-6{
        order: 6;
    }
    .order-sm-7{
        order: 7;
    }
    .order-sm-8{
        order: 8;
    }
    .order-sm-9{
        order: 9;
    }
    .order-sm-10{
        order: 10;
    }
    .order-sm-11{
        order: 11;
    }
    .order-sm-12{
        order: 12;
    }
    .offset-sm-0{
        margin-left: 0%;
    }
    .offset-sm-1{
        margin-left: 8.333333%;
    }
    .offset-sm-2{
        margin-left: 16.666667%;
    }
    .offset-sm-3{
        margin-left: 25%;
    }
    .offset-sm-4{
        margin-left: 33.333333%;
    }
    .offset-sm-5{
        margin-left: 41.666667%;
    }
    .offset-sm-6{
        margin-left: 50%;
    }
    .offset-sm-7{
        margin-left: 58.333333%;
    }
    .offset-sm-8{
        margin-left: 66.666667%;
    }
    .offset-sm-9{
        margin-left: 75%;
    }
    .offset-sm-10{
        margin-left: 83.333333%;
    }
    .offset-sm-11{
        margin-left: 91.666667%;
    }
    .justify-content-sm-start{
        justify-content: flex-start;
    }
    .justify-content-sm-center{
        justify-content: center;
    }
    .justify-content-sm-end{
        justify-content: flex-end;
    }
    .justify-content-sm-around{
        justify-content: space-around;
    }
    .justify-content-sm-between{
        justify-content: space-between;
    }
    .align-items-sm-start{
        align-items: flex-start;
    }
    .align-items-sm-end{
        align-items: flex-end;
    }
    .align-items-sm-center{
        align-items: center;
    }
    .align-items-sm-baseline{
        align-items: baseline;
    }
    .align-items-sm-stretch{
        align-items: stretch;
    }
    .align-content-sm-start{
        align-content: flex-start;
    }
    .align-content-sm-end{
        align-content: flex-end;
    }
    .align-content-sm-center{
        align-content: center;
    }
    .align-content-sm-around{
        align-content: space-around;
    }
    .align-content-sm-between{
        align-content: space-between;
    }
    .align-content-sm-stretch{
        align-content: stretch;
    }
    .align-self-sm-auto{
        align-self: auto;
    }
    .align-self-sm-start{
        align-self: flex-start;
    }
    .align-self-sm-end{
        align-self: flex-end;
    }
    .align-self-sm-center{
        align-self: center;
    }
    .align-self-sm-baseline{
        align-self: baseline;
    }
    .align-self-sm-stretch{
        align-self: stretch;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
    .d-md-none{
        display: none;
    }
    .d-md-block{
        display: block;
    }
    .d-md-inline{
        display: inline;
    }
    .d-md-inline-block{
        display: inline-block;
    }
    .d-md-table{
        display: table;
    }
    .d-md-table-row{
        display: table-row;
    }
    .d-md-table-cell{
        display: table-cell;
    }
    .d-md-flex{
        display: flex;
    }
    .d-md-inline-flex{
        display: inline-flex;
    }
    .col-md{
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    .row-cols-md-1>*{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .row-cols-md-2>*{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .row-cols-md-3>*{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .row-cols-md-4>*{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .row-cols-md-5>*{
        flex: 0 0 20%;
        max-width: 20%;
    }
    .row-cols-md-6>*{
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-md-auto{
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
    .col-md-1{
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-md-2{
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-md-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-md-5{
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-md-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7{
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-md-8{
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-md-9{
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10{
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-md-11{
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-md-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-md-first{
        order: -1;
    }
    .order-md-last{
        order: 13;
    }
    .order-md-0{
        order: 0;
    }
    .order-md-1{
        order: 1;
    }
    .order-md-2{
        order: 2;
    }
    .order-md-3{
        order: 3;
    }
    .order-md-4{
        order: 4;
    }
    .order-md-5{
        order: 5;
    }
    .order-md-6{
        order: 6;
    }
    .order-md-7{
        order: 7;
    }
    .order-md-8{
        order: 8;
    }
    .order-md-9{
        order: 9;
    }
    .order-md-10{
        order: 10;
    }
    .order-md-11{
        order: 11;
    }
    .order-md-12{
        order: 12;
    }
    .offset-md-0{
        margin-left: 0%;
    }
    .offset-md-1{
        margin-left: 8.333333%;
    }
    .offset-md-2{
        margin-left: 16.666667%;
    }
    .offset-md-3{
        margin-left: 25%;
    }
    .offset-md-4{
        margin-left: 33.333333%;
    }
    .offset-md-5{
        margin-left: 41.666667%;
    }
    .offset-md-6{
        margin-left: 50%;
    }
    .offset-md-7{
        margin-left: 58.333333%;
    }
    .offset-md-8{
        margin-left: 66.666667%;
    }
    .offset-md-9{
        margin-left: 75%;
    }
    .offset-md-10{
        margin-left: 83.333333%;
    }
    .offset-md-11{
        margin-left: 91.666667%;
    }
    .justify-content-md-start{
        justify-content: flex-start;
    }
    .justify-content-md-center{
        justify-content: center;
    }
    .justify-content-md-end{
        justify-content: flex-end;
    }
    .justify-content-md-around{
        justify-content: space-around;
    }
    .justify-content-md-between{
        justify-content: space-between;
    }
    .align-items-md-start{
        align-items: flex-start;
    }
    .align-items-md-end{
        align-items: flex-end;
    }
    .align-items-md-center{
        align-items: center;
    }
    .align-items-md-baseline{
        align-items: baseline;
    }
    .align-items-md-stretch{
        align-items: stretch;
    }
    .align-content-md-start{
        align-content: flex-start;
    }
    .align-content-md-end{
        align-content: flex-end;
    }
    .align-content-md-center{
        align-content: center;
    }
    .align-content-md-around{
        align-content: space-around;
    }
    .align-content-md-between{
        align-content: space-between;
    }
    .align-content-md-stretch{
        align-content: stretch;
    }
    .align-self-md-auto{
        align-self: auto;
    }
    .align-self-md-start{
        align-self: flex-start;
    }
    .align-self-md-end{
        align-self: flex-end;
    }
    .align-self-md-center{
        align-self: center;
    }
    .align-self-md-baseline{
        align-self: baseline;
    }
    .align-self-md-stretch{
        align-self: stretch;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
    .d-lg-none{
        display: none;
    }
    .d-lg-block{
        display: block;
    }
    .d-lg-inline{
        display: inline;
    }
    .d-lg-inline-block{
        display: inline-block;
    }
    .d-lg-table{
        display: table;
    }
    .d-lg-table-row{
        display: table-row;
    }
    .d-lg-table-cell{
        display: table-cell;
    }
    .d-lg-flex{
        display: flex;
    }
    .d-lg-inline-flex{
        display: inline-flex;
    }
    .col-lg{
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    .row-cols-lg-1>*{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .row-cols-lg-2>*{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .row-cols-lg-3>*{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .row-cols-lg-4>*{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .row-cols-lg-5>*{
        flex: 0 0 20%;
        max-width: 20%;
    }
    .row-cols-lg-6>*{
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-lg-auto{
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
    .col-lg-1{
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-lg-2{
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-lg-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-4{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-lg-5{
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-lg-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-7{
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-lg-8{
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-lg-9{
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-10{
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-lg-11{
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-lg-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-lg-first{
        order: -1;
    }
    .order-lg-last{
        order: 13;
    }
    .order-lg-0{
        order: 0;
    }
    .order-lg-1{
        order: 1;
    }
    .order-lg-2{
        order: 2;
    }
    .order-lg-3{
        order: 3;
    }
    .order-lg-4{
        order: 4;
    }
    .order-lg-5{
        order: 5;
    }
    .order-lg-6{
        order: 6;
    }
    .order-lg-7{
        order: 7;
    }
    .order-lg-8{
        order: 8;
    }
    .order-lg-9{
        order: 9;
    }
    .order-lg-10{
        order: 10;
    }
    .order-lg-11{
        order: 11;
    }
    .order-lg-12{
        order: 12;
    }
    .offset-lg-0{
        margin-left: 0%;
    }
    .offset-lg-1{
        margin-left: 8.333333%;
    }
    .offset-lg-2{
        margin-left: 16.666667%;
    }
    .offset-lg-3{
        margin-left: 25%;
    }
    .offset-lg-4{
        margin-left: 33.333333%;
    }
    .offset-lg-5{
        margin-left: 41.666667%;
    }
    .offset-lg-6{
        margin-left: 50%;
    }
    .offset-lg-7{
        margin-left: 58.333333%;
    }
    .offset-lg-8{
        margin-left: 66.666667%;
    }
    .offset-lg-9{
        margin-left: 75%;
    }
    .offset-lg-10{
        margin-left: 83.333333%;
    }
    .offset-lg-11{
        margin-left: 91.666667%;
    }
    .justify-content-lg-start{
        justify-content: flex-start;
    }
    .justify-content-lg-center{
        justify-content: center;
    }
    .justify-content-lg-end{
        justify-content: flex-end;
    }
    .justify-content-lg-around{
        justify-content: space-around;
    }
    .justify-content-lg-between{
        justify-content: space-between;
    }
    .align-items-lg-start{
        align-items: flex-start;
    }
    .align-items-lg-end{
        align-items: flex-end;
    }
    .align-items-lg-center{
        align-items: center;
    }
    .align-items-lg-baseline{
        align-items: baseline;
    }
    .align-items-lg-stretch{
        align-items: stretch;
    }
    .align-content-lg-start{
        align-content: flex-start;
    }
    .align-content-lg-end{
        align-content: flex-end;
    }
    .align-content-lg-center{
        align-content: center;
    }
    .align-content-lg-around{
        align-content: space-around;
    }
    .align-content-lg-between{
        align-content: space-between;
    }
    .align-content-lg-stretch{
        align-content: stretch;
    }
    .align-self-lg-auto{
        align-self: auto;
    }
    .align-self-lg-start{
        align-self: flex-start;
    }
    .align-self-lg-end{
        align-self: flex-end;
    }
    .align-self-lg-center{
        align-self: center;
    }
    .align-self-lg-baseline{
        align-self: baseline;
    }
    .align-self-lg-stretch{
        align-self: stretch;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
    .d-xl-none{
        display: none;
    }
    .d-xl-block{
        display: block;
    }
    .d-xl-inline{
        display: inline;
    }
    .d-xl-inline-block{
        display: inline-block;
    }
    .d-xl-table{
        display: table;
    }
    .d-xl-table-row{
        display: table-row;
    }
    .d-xl-table-cell{
        display: table-cell;
    }
    .d-xl-flex{
        display: flex;
    }
    .d-xl-inline-flex{
        display: inline-flex;
    }
    .col-xl{
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    .row-cols-xl-1>*{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .row-cols-xl-2>*{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .row-cols-xl-3>*{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .row-cols-xl-4>*{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .row-cols-xl-5>*{
        flex: 0 0 20%;
        max-width: 20%;
    }
    .row-cols-xl-6>*{
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-xl-auto{
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
    .col-xl-1{
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-xl-2{
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-xl-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xl-4{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-xl-5{
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-xl-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xl-7{
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-xl-8{
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-xl-9{
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xl-10{
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-xl-11{
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-xl-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-xl-first{
        order: -1;
    }
    .order-xl-last{
        order: 13;
    }
    .order-xl-0{
        order: 0;
    }
    .order-xl-1{
        order: 1;
    }
    .order-xl-2{
        order: 2;
    }
    .order-xl-3{
        order: 3;
    }
    .order-xl-4{
        order: 4;
    }
    .order-xl-5{
        order: 5;
    }
    .order-xl-6{
        order: 6;
    }
    .order-xl-7{
        order: 7;
    }
    .order-xl-8{
        order: 8;
    }
    .order-xl-9{
        order: 9;
    }
    .order-xl-10{
        order: 10;
    }
    .order-xl-11{
        order: 11;
    }
    .order-xl-12{
        order: 12;
    }
    .offset-xl-0{
        margin-left: 0%;
    }
    .offset-xl-1{
        margin-left: 8.333333%;
    }
    .offset-xl-2{
        margin-left: 16.666667%;
    }
    .offset-xl-3{
        margin-left: 25%;
    }
    .offset-xl-4{
        margin-left: 33.333333%;
    }
    .offset-xl-5{
        margin-left: 41.666667%;
    }
    .offset-xl-6{
        margin-left: 50%;
    }
    .offset-xl-7{
        margin-left: 58.333333%;
    }
    .offset-xl-8{
        margin-left: 66.666667%;
    }
    .offset-xl-9{
        margin-left: 75%;
    }
    .offset-xl-10{
        margin-left: 83.333333%;
    }
    .offset-xl-11{
        margin-left: 91.666667%;
    }
    .justify-content-xl-start{
        justify-content: flex-start;
    }
    .justify-content-xl-center{
        justify-content: center;
    }
    .justify-content-xl-end{
        justify-content: flex-end;
    }
    .justify-content-xl-around{
        justify-content: space-around;
    }
    .justify-content-xl-between{
        justify-content: space-between;
    }
    .align-items-xl-start{
        align-items: flex-start;
    }
    .align-items-xl-end{
        align-items: flex-end;
    }
    .align-items-xl-center{
        align-items: center;
    }
    .align-items-xl-baseline{
        align-items: baseline;
    }
    .align-items-xl-stretch{
        align-items: stretch;
    }
    .align-content-xl-start{
        align-content: flex-start;
    }
    .align-content-xl-end{
        align-content: flex-end;
    }
    .align-content-xl-center{
        align-content: center;
    }
    .align-content-xl-around{
        align-content: space-around;
    }
    .align-content-xl-between{
        align-content: space-between;
    }
    .align-content-xl-stretch{
        align-content: stretch;
    }
    .align-self-xl-auto{
        align-self: auto;
    }
    .align-self-xl-start{
        align-self: flex-start;
    }
    .align-self-xl-end{
        align-self: flex-end;
    }
    .align-self-xl-center{
        align-self: center;
    }
    .align-self-xl-baseline{
        align-self: baseline;
    }
    .align-self-xl-stretch{
        align-self: stretch;
    }
}